/* Clair&Curtis website's stylesheet */

// variables

$brand-primary:              #e22444; //red
$dark-bg:                    #242424;
$light-bg:                   #323232;
$white-bg:                   #eeeeee;
$text:                       #797979;
$grey-text:                  #818181;

$white:                      #cdcdcd;
$brown:                      #bbb499;

$base-font-size:             14px;

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,latin-ext);

//base rules

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

* { transition: all 0.3s ease; }
.rel { position: relative; }
.abs { position: absolute; }
.nopadding { padding: 0 !important; }

body {
	background: $dark-bg;
	font-size: $base-font-size;
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
}

.navbar-brand { padding: 10px 15px; }
.navbar { margin-bottom: 0; border-radius: 0; }
.navbar ul li { border-left: 2px solid #f2f2f2; }
.navbar-toggle { border-radius: 0 !important; }

.affix {
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.affix-top { position: static; }

section { position: relative; }

/* custom elements */

.darkbg { background: $dark-bg; }
.lightbg { background: $light-bg; }
.whitebg { background: $white-bg; }
.brandbg { background: $brand-primary; }

.section-title { font-weight: bold; margin-top: 40px; }

/* sections */

.cover {
	width: 100%;
	height: 100vh;
	background: url('../images/cover.jpg');
	text-align: center;

    .cover-logo {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
    }

	.arrow-down {
		position: absolute;
		background: $brown;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform-origin: 50% 100%; 
		-webkit-transform-origin: 50% 100%;
		-moz-transform-origin: 50% 100%;
		-ms-transform-origin: 50% 100%;
		-o-transfor-origin: 50% 100%;
		z-index: 10;

		&:hover {
			transform: translateX(-50%) scale(0.9);
			-webkit-transform: translateX(-50%) scale(0.9);
			-moz-transform: translateX(-50%) scale(0.9);
			-ms-transform: translateX(-50%) scale(0.9);
			-o-transform: translateX(-50%) scale(0.9);
		}

		img { position: relative; top: 50%; }
	}
}

.social {
	padding: 15px 15px;
	li {
		list-style-type: none;
		display: inline;
		height: 100%;
		border-left: 0 !important;
		
		img { width: 25px; }
		img.youtube { width: 50px; }
	}
}

#news {
	.cc-cont {
		background: $light-bg;
		
		.section-title { padding: 20px 40px 0 40px; }

		h1 { color: $white; }
	}

	#news-slider { min-height: 250px;

		article {
			padding: 20px 10px 40px 10px;
			float: left;

			a { text-decoration: none; }

			.publish-date { color: $grey-text; }

			.article-title {
				color: white;
				margin-right: 5px;
				transition: all .3s ease;
			}

			p { color: $grey-text; }

			&:hover {
				.article-title { color: $brand-primary; }
			}
		}
	}
}

#works {
	.cc-cont {

		.darkbg {
			.section-title { padding: 20px 40px; margin-top: 40px; }

			h1 { color: $white; }
		}

		.portfolio {

			.filters {
				padding-left: 15px;

				&:after {
					content: '';
					display: block;
					clear: both;
				}

				button.filter {
					float: left;
					padding: 17px 12px;
					color: $text;
					text-transform: uppercase;
					cursor: default;
					background: $light-bg;
					border: 0;
					outline: none;

					&:hover { color: $white; }
				}
			}

			#portfolio {

				.mix {
					position: relative;
					cursor: pointer;
					margin: 0 !important;
					padding: 0 !important;
					line-height: 0;

					&:hover {
						.overlay { top: 0; }
					}

					a {
						width: 100%;

						img { width: 100%; }

						.overlay {
							position: absolute;
							display: block;
							top: 100%;
							left: 0;
							width: 100%;
							height: 100%;
							background: $brand-primary;
							opacity: 0.8;

							.portfolio-arrow {
								position: absolute;
								top: -16px;
								left: 50%;
								transform: translate(-50% -50%);
								width: 24px;
							}

							.content {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								color: white;
								text-transform: uppercase;
								text-align: center;
								cursor: pointer;

								h2, h3 { margin: 0; padding: 0; }
								h2 { font-size: 36px; }
								h3 { font-size: 16px; }

								.separator {
									width: 80px;
									height: 2px;
									margin: 40px auto;
									background: white;
								}

								.category {
									padding: 0;
									li {
										list-style-type: none;
										display: inline;

										img { width: 60px; }
									}
								}
							}
						}

						.mobile-overlay {
							position: absolute;
							display: none;
							padding-left: 10px;
							bottom: 10px;
							width: 100%;
							background: rgba(226, 36, 68, 0.7);
							opacity: 1;
							color: white;
							text-transform: uppercase;
							
							h2, h3 { margin: 5px 0; padding: 0; }
							h2 { font-size: 4vw }
							h3 { font-size: 3vw }
						}
					}
				}
			}
		}
	}
}

#about {
	.cc-cont {
		.section-title-clients { padding: 40px 0 20px 40px; color: $white; }
	}

	.about {
		padding: 40px;
		color: $white;

		.lead {
			position: relative;
			margin-bottom: 80px;

			h2 {
				color: $brand-primary;
				font-size: 36px;
				width: 80%;
			}
			img {
				position: absolute;
				top: 0px;
				left: 0;
				width: 100%;
			}
		}

		.left {
			p { font-size: 20px; }
		}
		.right {
			p { font-size: 18px; }
		}

		h2 { text-transform: uppercase; margin-bottom: 40px; }
	}

	.clients {
		padding: 0;

		img { width: 100%; margin-bottom: 80px; }
	}
}

#concept {
	.cc-cont {
		.section-title { padding: 40px 40px 0; color: $white; }
	}

	.concept {
		padding: 40px;
		color: $white;

		div {
			padding-top: 240px;

			h2 {
				color: $brand-primary;
				font-size: 40px;
				font-weight: bold;
			}

			p { font-size: 16px; }
		}

		.concept-1 { background: url('../images/concept-1.jpg'); }
		.concept-2 { background: url('../images/concept-2.jpg'); }
		.concept-3 { background: url('../images/concept-3.jpg'); }
		.concept-4 { background: url('../images/concept-4.jpg'); }

		.mix { background-size: cover; }
	}
}

#process {
	.cc-cont {
		.section-title { padding: 40px 40px 0; color: $white; }
	}

	.process {
		padding: 40px;
		color: $white;

		#process-slider {

			.process-content { 
				// padding: 100px 100px 100px 550px; 
				 
				h2 {
					font-size: 72px;
					color: $brand-primary;
					font-weight: bold;
				}

				p { font-size: 24px; line-height: 1.2; }

				.process-counter {
				 	position: absolute;
				 	bottom: 0;
				 	left: 50px;
				 	padding: 0 10px;
				 	background-color: $brand-primary;
				 	max-width: 50px;
					
					p {
						font-size: 48px;
				 		font-weight: bold;
				 		margin: 0;
				 		padding: 0;
				 		line-height: 1.5;
					}
				}
			}

			@keyframes process-1 {
				0%, 100% {background: grey; opacity: 0.5;}
				50% {background: darkgrey; opacity: 1;}
			}
			@keyframes content-process-1 {
				0%, 100% {padding: 100px 100px 100px 550px; opacity: 1;}
				50% {padding: 0; opacity: 0.5; color: black;}
			}

			.process { background: $light-bg; height: 500px; }
			.process-1 {
				animation: process-1 8s infinite;

				.process-content {
					animation: content-process-1 5s infinite;
				}
			}
			.mix { background-size: cover; }
		}
	}
}

#team {
	.cc-cont {
		.section-title { padding: 80px 40px 40px; color: $dark-bg; }
	}

	.team {
		.member {
			position: relative;
			padding: 0;
			width: 12.5%;
			display: inline-block;
			float: left;
			overflow: hidden;
			transition: all 0.3s;

			.profile-image { width: 100%; }
			
			.details {
				position: absolute;
				text-align: right;
				right: 0;
				bottom: -35px;
				display: block;
				padding: 5px;
				width: 100%;
				transition: all 0.3s;

				p { margin: 0; }
				.name { font-size: 18px; }
				.position { font-size: 15px; margin-bottom: 5px; }
				.phone, .email { font-size: 11px; display: block; transition: all 0.3s; }

				.member-arrow {
					position: absolute;
					top: -7px;
					left: 5%;
					width: 24px;
				}
			}
		}

		.member.light {
			.details { background: $white;
				p { color: $dark-bg; }
			}
		}

		.member.dark {
			.details { background: $dark-bg;
				p { color: $white; }
			}
		}

		.member:hover {
			.details {
				background: $brand-primary;
				bottom: 0;

				p { color: white; }
			}
		}
	}
}

#contact {
	img { width: 25px; }
	img.youtube { width: 50px; }
	.cc-cont {
		.section-title { padding: 80px 40px 40px; color: $brand-primary; }
	}

	.details {
		color: white;
		padding: 5px 0;

		ul {
			margin: 0;

			li {
				display: inline;
				list-style-type: none;
				margin-left: 15px;
			}
		}
	}

	.footer {
		color: white;
		padding: 15px 0;

		.footer-right { text-align: right; }

		ul {
			padding: 0;
			display: inline;
			
			a {
				color: white;
				&:hover { text-decoration: none; }

				li {
					display: inline;
					list-style-type: none;
					margin-left: 15px;
				}
			}
		}

		.pull-right { margin-right: 15px; }
	}
}

/* map style */

#map { height: 400px; width: 100%; }
.gm-style-iw * { display: block; width: 100%; }
.gm-style-iw h4, .gm-style-iw p { margin: 0; padding: 0; }
.gm-style-iw a { color: #4272db; }

/* media queries */

/* between 992px and 1200px */
@media (min-width: 992px) and (max-width: 1199px) {
	#about {
		.about {
			.lead {

				h2 { font-size: 30px; }
				img {}
			}
			.left {
				p {}
			}
			.right {
				p {}
			}
			h2 {}
		}
		.clients {
			img {}
		}
	}

	#process {
		.cc-cont {
			.section-title {}
		}

		.process {

			#process-slider {
				.process-content {
					padding: 20px 40px 80px 200px; 
					 
					 h2 {}

					 p {}

					 .process-counter {
						p {}
					 }
				}
			}
		}
	}
}

/* small/tablet screen */

@media (min-width: 768px) and (max-width: 991px) {
	.social { display: none; }
	#news {
		.cc-cont {
			position: relative;

			button {
				position: absolute;
				top: 50%;
				transform: scale(0.7) translateY(-70%);
				background: $brand-primary;
				border: 0;

				img { position: relative; padding: 20px 10px; }
			}
			
			button.arrow-left { left: -7px; }
			button.arrow-right { right: -7px; }
		}
	}

	#works {
		.cc-cont {
			.portfolio {
				.filters {
					.filter { padding: 17px 10px; }
				}

				#portfolio {
					.mix {
						width: 50%;

						a {
							.overlay {
								.content {
									.separator {}
								}
							}
						}
					}
				}
			}
		}
	}

	#about {
		.about {
			.lead {
				margin-bottom: 60px;

				h2 { font-size: 22px; }
				img { width: 100%; }
			}

			.left {
				p { font-size: 20px; }
			}
			.right {
				p { font-size: 18px; }
			}

			h2 { text-transform: uppercase; margin-bottom: 40px; }
		}

		.clients {
			padding: 0;

			img { width: 100%; margin-bottom: 80px; }
		}
	}

	#process {
		.process {
			#process-slider {
				.process-content {
					padding: 7px; 
					 
					h2 { font-size: 9vw; }
					p { font-size: 3vw; margin-bottom: 70px; }
					.process-counter { left: 10px; }
				}
			}
		}
	}

	#team {
		.cc-cont {
			.section-title {}
		}

		.team {
			.member {
				width: 25%;

				.profile-image {}
				.details {
					p {}
					.name {}
					.position {}
					.phone, .email {}
				}

				&:hover {
					.details {

						p {}
						.phone, .email {}
					}
				}
			}
		}
	}
}

/* extra small/mobile screen */

@media (max-width: 767px) {
	.cover-logo { width: 80% }

	#news {
		.cc-cont {
			button { transform: scale(0.7) translateY(-70%); }
			
			button.arrow-left { left: -7px; }
			button.arrow-right { right: -7px; }
		}
	}

	#works {
		.cc-cont {
			.portfolio {
				.filters {
					padding-left: 10px;

					.filter { padding: 16px 7px; font-size: 12px; }
				}

				#portfolio {
					.mix {
						width: 50%;

						a {
							.overlay {
								.content {
									.separator {}
								}
							}

							.mobile-overlay { display: block; }
						}
					}
				}
			}
		}
	}

	#about {
		.about {
			.lead {
				margin-bottom: 60px;

				h2 { font-size: 20px; }
				img { width: 100%; bottom: -15px; }
			}

			.left {
				p { font-size: 20px; }
			}
			.right {
				p { font-size: 18px; }
			}

			h2 { text-transform: uppercase; margin-bottom: 40px; }
		}

		.clients {
			padding: 0;

			img { width: 100%; margin-bottom: 80px; }
		}
	}

	#process {
		.process {
			#process-slider {
				.process-content {
					padding: 7px; 
					 
					h2 { font-size: 13vw; }
					p { font-size: 5vw; margin-bottom: 70px; }
					.process-counter { left: 10px; }
				}
			}
		}
	}

	#team {
		.cc-cont {
			.section-title {}
		}

		.team {
			.member {
				width: 50%;

				.profile-image {}
				.details {
					p {}
					.name {}
					.position {}
					.phone, .email { font-size: 9px; }
				}

				&:hover {
					.details {

						p {}
						.phone, .email {}
					}
				}
			}
		}
	}

	#contact {
		.cc-cont {
			.section-title {}
		}

		.details {
			ul {
				li {}
			}
		}

		.footer {
			.footer-right,
			.footer-left {text-align: center;}
			ul {
				a {
					li {}
				}
			}
		}
	}
}

/* large screen */

@media (min-width: 1200px) {
	#team {
		.cc-cont {
			.section-title {}
		}

		.team {
			.member {
				width: 12.5%;

				.profile-image {}
				.details {
					p {}
					.name {}
					.position {}
					.phone, .email {}
				}

				&:hover {
					.details {

						p {}
						.phone, .email {}
					}
				}
			}
		}
	}
}

/* custom queries */

@media (max-width: 713px) {
	#about .about .lead img { display: none; }
}

@media (max-width: 991px) {
	.cover #canvas { display: none; }
	.page-prev { transform-origin: 0 50%; }
	.page-next { transform-origin: 100% 50%; }
	.page-prev,
	.page-next {
		transform: scale(0.5);
		opacity: 0.8;
		border: 2px solid white;

		&:hover { opacity: 1; }
	}
}

/* mixItUp slider customization */

.mix {display: none;}

.news-pager,
.works-pager,
.concept-pager,
.process-pager,
.portfolio-pager {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	width: 100%;
}

.page-prev { position: absolute; left: 0; }

.page-next { position: absolute; right: 0; }

.page-prev,
.page-next {
	padding: 40px 20px;
	background: $brand-primary;
	cursor: pointer;

	&:hover {
		background: darken( $brand-primary, 10% );
	}
}

.disabled { background: $light-bg; }

.page-number { display: none; }

#news-slider,
#portfolio,
#concept-slider,
#process-slider,
#portfolio-slider { overflow: hidden; }

/* SUBSITES */

/* carreer site */

#carreer {
	a { color: $brand-primary; text-decoration: none; font-weight: bold; }
	.cc-cont {
		.section-title { padding: 40px 40px 40px; }
	}

	.carreer-header {
		margin-bottom: 3em;
		padding: 0 15px;

		h1 {
			color: $brand-primary;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 1em;
		}

		p { font-size: 20px; }
	}

	.panel-title { color: white; }
	.panel-heading { background: $brand-primary; cursor: pointer; }
	.collapsed {
		background: $dark-bg;
		.panel-title { color: $white; }
	}

	.opened { background: $brand-primary; }
}

/* portfolio site */

#portfolio-page {
	padding-top: 50px;	
	.cc-cont {
		.portfolio-item-name { color: $white; text-align: center; margin-top: 40px; }
		.portfolio-client-name { color: $brand-primary; text-transform: uppercase; text-align: center; margin-bottom: 40px; }

		.close-button {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 21px;
		}

		#portfolio-slider {
			.mix {
				* { width: 100%; }
			}
		}
	}
	.portfolio-pager {
		.page-prev,
		.page-next { background: transparent; }
	}
}

#portfolio-description {
	.desc-section {
		border-bottom: 1px dashed $grey-text;

		.section-title {
			text-align: center;
			font-weight: normal;
			margin-bottom: 40px;
			margin-top: 40px;
		}

		.text {
			padding-bottom: 40px;

			p {
				display: flex;
				flex-direction: row;
				width: 50%;
				float: left;
			}

			img { margin-top: 40px; width: 100%; }
		}
	}
}

#similar {
	h1 { margin: 140px 0 40px 40px; font-weight: bold; }

	.sim {
		position: relative;
		cursor: pointer;
		margin: 0 !important;
		padding: 0 !important;
		line-height: 0;

		&:hover {
			.overlay { top: 0; }
		}

		a {
			width: 100%;

			img { width: 100%; }

			.overlay {
				position: absolute;
				display: block;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: $brand-primary;
				opacity: 0.8;

				.content {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: white;
					text-transform: uppercase;
					text-align: center;
					cursor: pointer;

					h2, h3 { margin: 0; padding: 0; }
					h2 { font-size: 36px; }
					h3 { font-size: 16px; }

					.separator {
						width: 80px;
						height: 2px;
						margin: 40px auto;
						background: white;
					}

					.category {
						padding: 0;
						li {
							list-style-type: none;
							display: inline;

							img { width: 60px; }
						}
					}
				}
			}

			.mobile-overlay {
				position: absolute;
				display: none;
				padding-left: 10px;
				bottom: 10px;
				width: 100%;
				background: rgba(226, 36, 68, 0.7);
				opacity: 1;
				color: white;
				text-transform: uppercase;
				
				h2, h3 { margin: 5px 0; padding: 0; }
				h2 { font-size: 4vw }
				h3 { font-size: 3vw }
			}
		}
	}
}

/* post page */

#post-page {
	padding-top: 50px;	
	.cc-cont {
		.post-name { color: black; text-align: center; margin: 80px; font-weight: bold; }

		.close-button {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 21px;
		}
	}
}

#post-description {
	img { width: 100%; }
	.desc-section {
		border-bottom: 1px dashed $grey-text;

		.section-title {
			text-align: center;
			font-weight: normal;
			margin-bottom: 40px;
			margin-top: 40px;
		}

		.text {
			padding-bottom: 40px;

			p {
				display: flex;
				flex-direction: row;
				width: 50%;
				float: left;
			}

			img { margin-top: 40px; width: 100%; }
		}
	}
}