/* Clair&Curtis website's stylesheet */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,latin-ext);
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
* {
  transition: all 0.3s ease; }

.rel {
  position: relative; }

.abs {
  position: absolute; }

.nopadding {
  padding: 0 !important; }

body {
  background: #242424;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden; }

.navbar-brand {
  padding: 10px 15px; }

.navbar {
  margin-bottom: 0;
  border-radius: 0; }

.navbar ul li {
  border-left: 2px solid #f2f2f2; }

.navbar-toggle {
  border-radius: 0 !important; }

.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; }

.affix-top {
  position: static; }

section {
  position: relative; }

/* custom elements */
.darkbg {
  background: #242424; }

.lightbg {
  background: #323232; }

.whitebg {
  background: #eeeeee; }

.brandbg {
  background: #e22444; }

.section-title {
  font-weight: bold;
  margin-top: 40px; }

/* sections */
.cover {
  width: 100%;
  height: 100vh;
  background: url("../images/cover.jpg");
  text-align: center; }
  .cover .cover-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
  .cover .arrow-down {
    position: absolute;
    background: #bbb499;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transfor-origin: 50% 100%;
    z-index: 10; }
    .cover .arrow-down:hover {
      transform: translateX(-50%) scale(0.9);
      -webkit-transform: translateX(-50%) scale(0.9);
      -moz-transform: translateX(-50%) scale(0.9);
      -ms-transform: translateX(-50%) scale(0.9);
      -o-transform: translateX(-50%) scale(0.9); }
    .cover .arrow-down img {
      position: relative;
      top: 50%; }

.social {
  padding: 15px 15px; }
  .social li {
    list-style-type: none;
    display: inline;
    height: 100%;
    border-left: 0 !important; }
    .social li img {
      width: 25px; }
    .social li img.youtube {
      width: 50px; }

#news .cc-cont {
  background: #323232; }
  #news .cc-cont .section-title {
    padding: 20px 40px 0 40px; }
  #news .cc-cont h1 {
    color: #cdcdcd; }
#news #news-slider {
  min-height: 250px; }
  #news #news-slider article {
    padding: 20px 10px 40px 10px;
    float: left; }
    #news #news-slider article a {
      text-decoration: none; }
    #news #news-slider article .publish-date {
      color: #818181; }
    #news #news-slider article .article-title {
      color: white;
      margin-right: 5px;
      transition: all .3s ease; }
    #news #news-slider article p {
      color: #818181; }
    #news #news-slider article:hover .article-title {
      color: #e22444; }

#works .cc-cont .darkbg .section-title {
  padding: 20px 40px;
  margin-top: 40px; }
#works .cc-cont .darkbg h1 {
  color: #cdcdcd; }
#works .cc-cont .portfolio .filters {
  padding-left: 15px; }
  #works .cc-cont .portfolio .filters:after {
    content: '';
    display: block;
    clear: both; }
  #works .cc-cont .portfolio .filters button.filter {
    float: left;
    padding: 17px 12px;
    color: #797979;
    text-transform: uppercase;
    cursor: default;
    background: #323232;
    border: 0;
    outline: none; }
    #works .cc-cont .portfolio .filters button.filter:hover {
      color: #cdcdcd; }
#works .cc-cont .portfolio #portfolio .mix {
  position: relative;
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0; }
  #works .cc-cont .portfolio #portfolio .mix:hover .overlay {
    top: 0; }
  #works .cc-cont .portfolio #portfolio .mix a {
    width: 100%; }
    #works .cc-cont .portfolio #portfolio .mix a img {
      width: 100%; }
    #works .cc-cont .portfolio #portfolio .mix a .overlay {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #e22444;
      opacity: 0.8; }
      #works .cc-cont .portfolio #portfolio .mix a .overlay .portfolio-arrow {
        position: absolute;
        top: -16px;
        left: 50%;
        transform: translate(-50% -50%);
        width: 24px; }
      #works .cc-cont .portfolio #portfolio .mix a .overlay .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer; }
        #works .cc-cont .portfolio #portfolio .mix a .overlay .content h2, #works .cc-cont .portfolio #portfolio .mix a .overlay .content h3 {
          margin: 0;
          padding: 0; }
        #works .cc-cont .portfolio #portfolio .mix a .overlay .content h2 {
          font-size: 36px; }
        #works .cc-cont .portfolio #portfolio .mix a .overlay .content h3 {
          font-size: 16px; }
        #works .cc-cont .portfolio #portfolio .mix a .overlay .content .separator {
          width: 80px;
          height: 2px;
          margin: 40px auto;
          background: white; }
        #works .cc-cont .portfolio #portfolio .mix a .overlay .content .category {
          padding: 0; }
          #works .cc-cont .portfolio #portfolio .mix a .overlay .content .category li {
            list-style-type: none;
            display: inline; }
            #works .cc-cont .portfolio #portfolio .mix a .overlay .content .category li img {
              width: 60px; }
    #works .cc-cont .portfolio #portfolio .mix a .mobile-overlay {
      position: absolute;
      display: none;
      padding-left: 10px;
      bottom: 10px;
      width: 100%;
      background: rgba(226, 36, 68, 0.7);
      opacity: 1;
      color: white;
      text-transform: uppercase; }
      #works .cc-cont .portfolio #portfolio .mix a .mobile-overlay h2, #works .cc-cont .portfolio #portfolio .mix a .mobile-overlay h3 {
        margin: 5px 0;
        padding: 0; }
      #works .cc-cont .portfolio #portfolio .mix a .mobile-overlay h2 {
        font-size: 4vw; }
      #works .cc-cont .portfolio #portfolio .mix a .mobile-overlay h3 {
        font-size: 3vw; }

#about .cc-cont .section-title-clients {
  padding: 40px 0 20px 40px;
  color: #cdcdcd; }
#about .about {
  padding: 40px;
  color: #cdcdcd; }
  #about .about .lead {
    position: relative;
    margin-bottom: 80px; }
    #about .about .lead h2 {
      color: #e22444;
      font-size: 36px;
      width: 80%; }
    #about .about .lead img {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%; }
  #about .about .left p {
    font-size: 20px; }
  #about .about .right p {
    font-size: 18px; }
  #about .about h2 {
    text-transform: uppercase;
    margin-bottom: 40px; }
#about .clients {
  padding: 0; }
  #about .clients img {
    width: 100%;
    margin-bottom: 80px; }

#concept .cc-cont .section-title {
  padding: 40px 40px 0;
  color: #cdcdcd; }
#concept .concept {
  padding: 40px;
  color: #cdcdcd; }
  #concept .concept div {
    padding-top: 240px; }
    #concept .concept div h2 {
      color: #e22444;
      font-size: 40px;
      font-weight: bold; }
    #concept .concept div p {
      font-size: 16px; }
  #concept .concept .concept-1 {
    background: url("../images/concept-1.jpg"); }
  #concept .concept .concept-2 {
    background: url("../images/concept-2.jpg"); }
  #concept .concept .concept-3 {
    background: url("../images/concept-3.jpg"); }
  #concept .concept .concept-4 {
    background: url("../images/concept-4.jpg"); }
  #concept .concept .mix {
    background-size: cover; }

#process .cc-cont .section-title {
  padding: 40px 40px 0;
  color: #cdcdcd; }
#process .process {
  padding: 40px;
  color: #cdcdcd; }
  #process .process #process-slider .process-content h2 {
    font-size: 72px;
    color: #e22444;
    font-weight: bold; }
  #process .process #process-slider .process-content p {
    font-size: 24px;
    line-height: 1.2; }
  #process .process #process-slider .process-content .process-counter {
    position: absolute;
    bottom: 0;
    left: 50px;
    padding: 0 10px;
    background-color: #e22444;
    max-width: 50px; }
    #process .process #process-slider .process-content .process-counter p {
      font-size: 48px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      line-height: 1.5; }
@keyframes process-1 {
  0%, 100% {
    background: grey;
    opacity: 0.5; }
  50% {
    background: darkgrey;
    opacity: 1; } }
@keyframes content-process-1 {
  0%, 100% {
    padding: 100px 100px 100px 550px;
    opacity: 1; }
  50% {
    padding: 0;
    opacity: 0.5;
    color: black; } }
  #process .process #process-slider .process {
    background: #323232;
    height: 500px; }
  #process .process #process-slider .process-1 {
    animation: process-1 8s infinite; }
    #process .process #process-slider .process-1 .process-content {
      animation: content-process-1 5s infinite; }
  #process .process #process-slider .mix {
    background-size: cover; }

#team .cc-cont .section-title {
  padding: 80px 40px 40px;
  color: #242424; }
#team .team .member {
  position: relative;
  padding: 0;
  width: 12.5%;
  display: inline-block;
  float: left;
  overflow: hidden;
  transition: all 0.3s; }
  #team .team .member .profile-image {
    width: 100%; }
  #team .team .member .details {
    position: absolute;
    text-align: right;
    right: 0;
    bottom: -35px;
    display: block;
    padding: 5px;
    width: 100%;
    transition: all 0.3s; }
    #team .team .member .details p {
      margin: 0; }
    #team .team .member .details .name {
      font-size: 18px; }
    #team .team .member .details .position {
      font-size: 15px;
      margin-bottom: 5px; }
    #team .team .member .details .phone, #team .team .member .details .email {
      font-size: 11px;
      display: block;
      transition: all 0.3s; }
    #team .team .member .details .member-arrow {
      position: absolute;
      top: -7px;
      left: 5%;
      width: 24px; }
#team .team .member.light .details {
  background: #cdcdcd; }
  #team .team .member.light .details p {
    color: #242424; }
#team .team .member.dark .details {
  background: #242424; }
  #team .team .member.dark .details p {
    color: #cdcdcd; }
#team .team .member:hover .details {
  background: #e22444;
  bottom: 0; }
  #team .team .member:hover .details p {
    color: white; }

#contact img {
  width: 25px; }
#contact img.youtube {
  width: 50px; }
#contact .cc-cont .section-title {
  padding: 80px 40px 40px;
  color: #e22444; }
#contact .details {
  color: white;
  padding: 5px 0; }
  #contact .details ul {
    margin: 0; }
    #contact .details ul li {
      display: inline;
      list-style-type: none;
      margin-left: 15px; }
#contact .footer {
  color: white;
  padding: 15px 0; }
  #contact .footer .footer-right {
    text-align: right; }
  #contact .footer ul {
    padding: 0;
    display: inline; }
    #contact .footer ul a {
      color: white; }
      #contact .footer ul a:hover {
        text-decoration: none; }
      #contact .footer ul a li {
        display: inline;
        list-style-type: none;
        margin-left: 15px; }
  #contact .footer .pull-right {
    margin-right: 15px; }

/* map style */
#map {
  height: 400px;
  width: 100%; }

.gm-style-iw * {
  display: block;
  width: 100%; }

.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0; }

.gm-style-iw a {
  color: #4272db; }

/* media queries */
/* between 992px and 1200px */
@media (min-width: 992px) and (max-width: 1199px) {
  #about .about .lead h2 {
    font-size: 30px; }

  #process .process #process-slider .process-content {
    padding: 20px 40px 80px 200px; } }
/* small/tablet screen */
@media (min-width: 768px) and (max-width: 991px) {
  .social {
    display: none; }

  #news .cc-cont {
    position: relative; }
    #news .cc-cont button {
      position: absolute;
      top: 50%;
      transform: scale(0.7) translateY(-70%);
      background: #e22444;
      border: 0; }
      #news .cc-cont button img {
        position: relative;
        padding: 20px 10px; }
    #news .cc-cont button.arrow-left {
      left: -7px; }
    #news .cc-cont button.arrow-right {
      right: -7px; }

  #works .cc-cont .portfolio .filters .filter {
    padding: 17px 10px; }
  #works .cc-cont .portfolio #portfolio .mix {
    width: 50%; }

  #about .about .lead {
    margin-bottom: 60px; }
    #about .about .lead h2 {
      font-size: 22px; }
    #about .about .lead img {
      width: 100%; }
  #about .about .left p {
    font-size: 20px; }
  #about .about .right p {
    font-size: 18px; }
  #about .about h2 {
    text-transform: uppercase;
    margin-bottom: 40px; }
  #about .clients {
    padding: 0; }
    #about .clients img {
      width: 100%;
      margin-bottom: 80px; }

  #process .process #process-slider .process-content {
    padding: 7px; }
    #process .process #process-slider .process-content h2 {
      font-size: 9vw; }
    #process .process #process-slider .process-content p {
      font-size: 3vw;
      margin-bottom: 70px; }
    #process .process #process-slider .process-content .process-counter {
      left: 10px; }

  #team .team .member {
    width: 25%; } }
/* extra small/mobile screen */
@media (max-width: 767px) {
  .cover-logo {
    width: 80%; }

  #news .cc-cont button {
    transform: scale(0.7) translateY(-70%); }
  #news .cc-cont button.arrow-left {
    left: -7px; }
  #news .cc-cont button.arrow-right {
    right: -7px; }

  #works .cc-cont .portfolio .filters {
    padding-left: 10px; }
    #works .cc-cont .portfolio .filters .filter {
      padding: 16px 7px;
      font-size: 12px; }
  #works .cc-cont .portfolio #portfolio .mix {
    width: 50%; }
    #works .cc-cont .portfolio #portfolio .mix a .mobile-overlay {
      display: block; }

  #about .about .lead {
    margin-bottom: 60px; }
    #about .about .lead h2 {
      font-size: 20px; }
    #about .about .lead img {
      width: 100%;
      bottom: -15px; }
  #about .about .left p {
    font-size: 20px; }
  #about .about .right p {
    font-size: 18px; }
  #about .about h2 {
    text-transform: uppercase;
    margin-bottom: 40px; }
  #about .clients {
    padding: 0; }
    #about .clients img {
      width: 100%;
      margin-bottom: 80px; }

  #process .process #process-slider .process-content {
    padding: 7px; }
    #process .process #process-slider .process-content h2 {
      font-size: 13vw; }
    #process .process #process-slider .process-content p {
      font-size: 5vw;
      margin-bottom: 70px; }
    #process .process #process-slider .process-content .process-counter {
      left: 10px; }

  #team .team .member {
    width: 50%; }
    #team .team .member .details .phone, #team .team .member .details .email {
      font-size: 9px; }

  #contact .footer .footer-right,
  #contact .footer .footer-left {
    text-align: center; } }
/* large screen */
@media (min-width: 1200px) {
  #team .team .member {
    width: 12.5%; } }
/* custom queries */
@media (max-width: 713px) {
  #about .about .lead img {
    display: none; } }
@media (max-width: 991px) {
  .cover #canvas {
    display: none; }

  .page-prev {
    transform-origin: 0 50%; }

  .page-next {
    transform-origin: 100% 50%; }

  .page-prev,
  .page-next {
    transform: scale(0.5);
    opacity: 0.8;
    border: 2px solid white; }
    .page-prev:hover,
    .page-next:hover {
      opacity: 1; } }
/* mixItUp slider customization */
.mix {
  display: none; }

.news-pager,
.works-pager,
.concept-pager,
.process-pager,
.portfolio-pager {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  width: 100%; }

.page-prev {
  position: absolute;
  left: 0; }

.page-next {
  position: absolute;
  right: 0; }

.page-prev,
.page-next {
  padding: 40px 20px;
  background: #e22444;
  cursor: pointer; }
  .page-prev:hover,
  .page-next:hover {
    background: #ba1934; }

.disabled {
  background: #323232; }

.page-number {
  display: none; }

#news-slider,
#portfolio,
#concept-slider,
#process-slider,
#portfolio-slider {
  overflow: hidden; }

/* SUBSITES */
/* carreer site */
#carreer a {
  color: #e22444;
  text-decoration: none;
  font-weight: bold; }
#carreer .cc-cont .section-title {
  padding: 40px 40px 40px; }
#carreer .carreer-header {
  margin-bottom: 3em;
  padding: 0 15px; }
  #carreer .carreer-header h1 {
    color: #e22444;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1em; }
  #carreer .carreer-header p {
    font-size: 20px; }
#carreer .panel-title {
  color: white; }
#carreer .panel-heading {
  background: #e22444;
  cursor: pointer; }
#carreer .collapsed {
  background: #242424; }
  #carreer .collapsed .panel-title {
    color: #cdcdcd; }
#carreer .opened {
  background: #e22444; }

/* portfolio site */
#portfolio-page {
  padding-top: 50px; }
  #portfolio-page .cc-cont .portfolio-item-name {
    color: #cdcdcd;
    text-align: center;
    margin-top: 40px; }
  #portfolio-page .cc-cont .portfolio-client-name {
    color: #e22444;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px; }
  #portfolio-page .cc-cont .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 21px; }
  #portfolio-page .cc-cont #portfolio-slider .mix * {
    width: 100%; }
  #portfolio-page .portfolio-pager .page-prev,
  #portfolio-page .portfolio-pager .page-next {
    background: transparent; }

#portfolio-description .desc-section {
  border-bottom: 1px dashed #818181; }
  #portfolio-description .desc-section .section-title {
    text-align: center;
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 40px; }
  #portfolio-description .desc-section .text {
    padding-bottom: 40px; }
    #portfolio-description .desc-section .text p {
      display: flex;
      flex-direction: row;
      width: 50%;
      float: left; }
    #portfolio-description .desc-section .text img {
      margin-top: 40px;
      width: 100%; }

#similar h1 {
  margin: 140px 0 40px 40px;
  font-weight: bold; }
#similar .sim {
  position: relative;
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0; }
  #similar .sim:hover .overlay {
    top: 0; }
  #similar .sim a {
    width: 100%; }
    #similar .sim a img {
      width: 100%; }
    #similar .sim a .overlay {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #e22444;
      opacity: 0.8; }
      #similar .sim a .overlay .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer; }
        #similar .sim a .overlay .content h2, #similar .sim a .overlay .content h3 {
          margin: 0;
          padding: 0; }
        #similar .sim a .overlay .content h2 {
          font-size: 36px; }
        #similar .sim a .overlay .content h3 {
          font-size: 16px; }
        #similar .sim a .overlay .content .separator {
          width: 80px;
          height: 2px;
          margin: 40px auto;
          background: white; }
        #similar .sim a .overlay .content .category {
          padding: 0; }
          #similar .sim a .overlay .content .category li {
            list-style-type: none;
            display: inline; }
            #similar .sim a .overlay .content .category li img {
              width: 60px; }
    #similar .sim a .mobile-overlay {
      position: absolute;
      display: none;
      padding-left: 10px;
      bottom: 10px;
      width: 100%;
      background: rgba(226, 36, 68, 0.7);
      opacity: 1;
      color: white;
      text-transform: uppercase; }
      #similar .sim a .mobile-overlay h2, #similar .sim a .mobile-overlay h3 {
        margin: 5px 0;
        padding: 0; }
      #similar .sim a .mobile-overlay h2 {
        font-size: 4vw; }
      #similar .sim a .mobile-overlay h3 {
        font-size: 3vw; }

/* post page */
#post-page {
  padding-top: 50px; }
  #post-page .cc-cont .post-name {
    color: black;
    text-align: center;
    margin: 80px;
    font-weight: bold; }
  #post-page .cc-cont .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 21px; }

#post-description img {
  width: 100%; }
#post-description .desc-section {
  border-bottom: 1px dashed #818181; }
  #post-description .desc-section .section-title {
    text-align: center;
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 40px; }
  #post-description .desc-section .text {
    padding-bottom: 40px; }
    #post-description .desc-section .text p {
      display: flex;
      flex-direction: row;
      width: 50%;
      float: left; }
    #post-description .desc-section .text img {
      margin-top: 40px;
      width: 100%; }

/*# sourceMappingURL=style.css.map */
